/* work-sans-font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}


/* share all items start */
/* shared display  */
.display-flex{
    display: flex;
}
/* dark-02 */
.text-gray{
    color:#424242 ;
}
/* dark-03 */
.text-light-gray{
    color: #727272;
}
.bg-color{
     background-color: rgba(255, 144, 14, 0.1);
}
.primary-button{
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    padding: 20px 25px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
}


/* share all items end */




/* header start */
/* navbar start */
.navbar{
    align-items: center;
    justify-content: space-between;
    
}

/* 1 rem = 16px */
.banner{
    font-weight: 700;
    font-size: 3rem; 
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
   max-width: 500;
    text-decoration: none;
}

.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
    
}
/* navbar end */

/* banner start*/
.banner-contain{
    max-width: 865px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-drectption{
    font-size: 1rem;
    color: rgba(114, 114, 114, 1);
}
.banner-img{
   width: 100%;
   border-radius: 5px;
}
/* banner end*/
/* header end */

/* main start */
/* section start*/
.team{
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    margin-top: 75px;
   
}

.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    padding: 8px;
    
}
.team-features{
    margin-left: 70px;
   
}
.feature-title{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}
.Features{
    color: #FF900E;
}

/* section end */

/* 2nd section start */
.Features-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 75px;
    gap: 54px;

}
.Features-dev{
    gap: 30px;
    
}
.features-description-container-01{
    gap: 30px;
    margin: 20px;
}

#features-title{
    border-left: 5px solid #FF900E;
    font-size: 2.8rem;
    padding: 20px;

}
.features-description-container{
    gap: 30px;
    margin: 20px;
    padding: 20px;
    width: 586;
    border-radius: 8px;
    box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.features-description-title{
    font-size: 1.25rem;
}
#Experience-badges{
    margin-top: -100px;
    margin-left: -60px;
}
#Experience-year{
    font-size: 4rem;
   
}
/* 2nd section end */

/* 3rd section start */
.fact-section{
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 75px;
    gap: 54px;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 100px;
    
}

.fact-title{
  font-size: 3rem;  
}
.fact{
    
    padding: 40px;
   width: 240px;
   height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    justify-content: center;

}
.fact-number{
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-namn{
   color: rgba(114, 114, 114, 1);
   
}

/* responsive media query for header  start*/
/* header start */
@media screen and (max-width: 576px){
    .navbar,
    .nav-link{
        flex-direction: column;
    }
    .nav-link{
        gap: 5px;
    }
    .banner-title{
        font-size: 2rem;
    }
    .primary-button{
        font-size: 1rem;
    }
    .nav-link{
        align-items: center;
    }
    
    
}
/* header end */

/* responsive media query for header end */

/* main */
/* section 01 start */

@media screen and (max-width: 576px){
    .team{
        flex-direction: column;
    }
    .team-image{
        grid-template-columns: 1fr;
    }
    .team-features{
        margin-left: 0;
    }
    
}
@media screen and (min-width: 576px) and (max-width: 992px){
    .team{
        flex-direction: column;
    }
}
/* section 01 end */


/* section 2  start*/
@media screen and (max-width: 576px){
    .Features-container{
        flex-direction: column;
    }
    .Features-image img{
        width: 100%;
    }
    
}
/* section 2 end*/

/* section 3 fact */

@media screen and (max-width: 576px){
    .fact-container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .fact-title{
        text-align: center;
        font-size: 2.5rem;
        
    }
    
    
}
/* end 3 */


